<!-- SHOPPING CART -->
<!-- MODAL shopping-cart fade-->
<div class="modal" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Shooping Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- SHOPPING CART -->
        <div class="card shopping-case">
          <div class="card-header">
            <strong> Buy (1 item)</strong>
          </div>
          <div class="card-body">
            <div class="row card-title modal-item">
              <div class="col-sm-6 bd-highlight ">
                <p>Item Title</p>
              </div>
              <div class="col-sm-3 bd-highlight">
                <p>Cantidad</p>
              </div>
              <div class="col-sm-3 bd-highlight">
                <p>Price</p>
              </div>
            </div>

            <!--modal item  -->
            <div class="d-flex bd-highlight  card-title  modal-item">
              <div class=" bd-highlight">
                <img src="assets/img/60.jpg" width="100%">
                <p>Item Name</p>
              </div>
              <div class=" ml-auto bd-highlight justify-content-end">
                <ul>
                  <li>
                    <div class="d-flex flex-row mb-3 item-group">
                      <button type="button" class="btn secondary_bg text_light btn-sm mx-1"
                        onclick="increaseItem()">+</button>
                      <h5 class="p-2" id="amountItems" class="item-price"> 0 </h5>
                      <button type="button" class="btn secondary_bg text_light btn-sm mx-1"
                        onclick="decreaseItem()">-</button>
                    </div>
                  </li>
                  <li><span class="badge secondary_bg">In stock</span></li>
                </ul>
                <div class="p-2 bd-highlight">
                </div>
              </div>
              <div class="  bd-highlight">
                <h5>$<span id="priceItem">0</span></h5>
              </div>
            </div>

            <div class="d-flex bd-highlight  card-title">
              <div class=" bd-highlight">
                <p><strong>Free shipping</strong> available</p>
              </div>
              <div class="bd-highlight"></div>
              <div class="ml-auto  bd-highlight">
                <button type="button" class="btn btn-outline-danger">Delete Item</button>
              </div>
            </div>
            <hr>
            <!-- item  -->

          </div> <!-- card-body -->
        </div> <!-- card  -->
      </div> <!-- SHOPPING CART -->
      <div class="modal-footer d-flex">
        <div class=" bd-highlight">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <div class="bd-highlight"></div>
        <div class="ml-auto  bd-highlight">
          <button type="button" class="btn btn-outline-success">
            <i class="fas fa-shopping-cart text-secondary modal-item"></i>
            continue shopping</button>
        </div>
      </div>
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- MODAL  -->