<!-- SHOPPING CART -->
<div class="card shopping-case">
 <div class="card-header">
  <strong> Buy (1 item)</strong>
 </div>
 <div class="card-body">
  <div class="d-flex bd-highlight  card-title">
   <div class=" bd-highlight">
    <h5>Special title treatment</h5>
   </div>
   <div class="bd-highlight"></div>
   <div class="ml-auto  bd-highlight">
    <a href="" class="text-secondary">
     <i class="fas fa-info-circle text-secondary"></i>more Info</a>
   </div>
  </div>

  <div class="row">
   <div class="col-md-2">
    <img src="assets/img/900.jpg" alt="item" width="100" height="100">
   </div>
   <div class="col-md-6">
    <ul class="lista">
     <li>
      <h3>Item Name (just by me)</h3>Item
     </li>
     <li><span class="badge badge-info">best by article</span> in some category</li>
     <li>
      <p>In stock</p>
     </li>
     <li>
      <p><strong>Free shipping</strong> available </p>
     </li>
     <li>
      <div class="d-flex flex-row bd-highlight mb-3">
       <div class="p-2 bd-highlight"><a href="">Delete</a></div>
       <div class="p-2 bd-highlight"><a href="">ser mor similar items</a></div>
       <div class="p-2 bd-highlight"><a href="">save for later</a></div>
      </div>
     </li>
    </ul>
   </div>
   <div class="col-md-2">
    <h3>Cantidad 1</h3>
    <span>
     <a href=""> see description</a>
    </span>
   </div>
   <div class="col-md-2">
    <h2>$ 7,99</h2>
   </div>
  </div>
  <!--row  -->
  <div class="d-flex bd-highlight  card-title">
   <div class=" bd-highlight">
    <button type="button" class="btn btn-outline-danger">Delete Item</button>
   </div>
   <div class="bd-highlight"></div>
   <div class="ml-auto  bd-highlight">
    <button type="button" class="btn btn-outline-success">
     <i class="fas fa-shopping-cart text-secondary"></i>
     continue shopping</button>
   </div>
  </div>
 </div>
</div>
<!-- SHOPPING CART -->